# Base de datos
DB_HOST=db
DB_PORT=5432
DB_NAME=quetzalshop_db
DB_USER=proy2
DB_PASSWORD=secret

# JWT
JWT_SECRET=cambia_esta_clave_en_produccion
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=24

# App
APP_PORT=8000
APP_ENV=development

# CORS — separar múltiples orígenes con coma, sin espacios
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
